/* 
    Document   : main_owner
    Created on : Nov 18, 2012, 7:03:05 PM
    Author     : SammaMax
    Description:
        Purpose of the stylesheet follows.
*/
.login_container{
    font-family: arial,sans-serif !important;
    font-size: 16px !important;
    color: #231f20 !important;
}

.fleft{
    float: left;    
}

.fright{
    float: right;
}

.clear{
    clear: both;
}
.mdtxt{
    margin-left: 10px;
    padding-top: 15px;
}
.mdlogo{
    margin-bottom: 15px;
}
.login_container{
    margin: 92px auto 0 auto;
    width: 946px;
    height: 612px;
    background: url("../images/owner/dlback.png") no-repeat scroll center;

}
.login_container .txtlogo{
    margin-left:13px;
    padding-top: 13px;
}
.login_container .mlogo{
    padding: 15px 20px;
}

.cl_left{
    width: 262px;
    padding: 25px 20px 10px;
}

.cl_right{
    width:620px;
}
.cl_right p{
    font-size: 12px;
    margin: 0;
}
.cl_left p{
    font-size: 15px;
}
.formfield{
/*     margin-bottom: 3px; */
}

.form-item, .form-actions{
  margin:0 !important;
  padding:0 !important;
}
.login_container .formfield label{
    text-align: left;
    display: block;
    width: 102px;
    color: #818181 !important;
    font-family: arial,sans-serif !important;
    font-size: 16px !important;
    font-weight:normal !important;
    float:left;
    text-transform: capitalize;
    
}

.login_container .formfield  select{
    border: 1px solid #a5acb2;
    padding: 2px;
    width:100%;
}

.login_container .formfield input[type="text"],.login_container .formfield input[type="password"]{
    width:153px;
    display: block;
    border: 1px solid #a5acb2;
    /*    border: 1px solid rgba(165,172,178,0.7);*/
    padding: 4px 2px;
}

.login_container .formfield input[type="checkbox"]{
    margin: 0;
    padding: 0;
}
.login_container .formfield input[type="submit"]{
    padding: 2px;
    display: block;
    width:70px;
}
