/* 
    Document   : main
    Created on : Nov 12, 2012, 9:40:09 PM
    Author     : SammaMax
    Description:
        Purpose of the stylesheet follows.
*/
body{
    color:#000;
    font-family: Arial,Tahoma,Helvetica,sans-serif;
    font-size: 14px;    
}
.page_container{
    width:1244px;
    margin:0 auto;
    background: #fff;
    min-height: 300px;/* must remove*/
}

.page_container .tabs
{
  border:none;
  list-style:none;
}

.page_border{
    width:1280px;
    margin:0 auto;
    background: #ccc;
    padding:18px 0;
}

.content{
    padding: 18px;
}

.header .short-menu{
    width:1036px;
    height:30px;
    background: #b4c2cf;
}
.header .logo{
    width:168px;
    height:30px;
}
.header .short-menu a{
    text-decoration: none;
    color: #000;
    text-align: right;
    font-weight: bold;
    padding-bottom: 2px;
}
.header .short-menu a:hover{
    /*    text-decoration: underline;*/
    border-bottom: 1px dotted #000;
}
.scont{
    padding: 6px 10px 0;
}

.top-menu{
    margin-top: 20px;    
    margin-bottom: 20px;    
}

.top-menu ul{

}
.top-menu ul li{
    float: left;
    padding-left: 25px;
}
.top-menu ul li a{
    display: block;
    text-decoration: none;
    height: 64px;
    width: 77px;
}
ul#menu 
{
  list-style:none;
}
ul#menu li
{
  float:left;
  border-left:1px solid black;
  padding: 2px 10px;
}
ul#menu li:first-child
{
  border:0;
}
.m-clock{
    background: url("../images/m-clock.png") no-repeat scroll center;
}
.m-pdf{
    background: url("../images/m-pdf.png") no-repeat scroll center;
}
.m-settings{
    background: url("../images/m-settings.png") no-repeat scroll center;
}
.m-home{
    background: url("../images/m-home.png") no-repeat scroll center;
}
.no-left-padding{
    padding-left: 0 !important;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.clear{
    clear:both;
}

.main-content{

}

.option-bar{
    background: #50748a;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.option-bar select{
    font-size: 25px;
    padding: 5px;
    margin: 2px;
    border:1px solid #BDC7D8;    
}

.option-bar label{
    color:#fff;
    font-size: 30px;
    line-height: 48px;
}

.option-bar input{
    font-size: 25px;
    padding: 5px 8px;
}

.box-container{
    background: #b4c2cf;
    padding-top:15px;
}
.box-border{
    padding: 8px;
}
.buttons{
    padding: 15px 10px;
}
.colored{
    background: #fff;
    padding: 5px 10px;
    margin: 0 14px 12px 14px;
}

.buttons input{
    padding: 5px 10px;
    font-size: 25px;
}
.colored select{
    font-size: 17px;
    padding: 5px 2px 5px 10px;
    border:1px solid #BDC7D8;
}
.colored input{
    font-family: Arial,georgia;
    font-size: 16px;
    padding: 2px 5px;
}
.box{
    background: #fff;
    width: 584px;
    margin-left: 13px;
    margin-bottom: 15px;
    height: 485px;
    overflow-y:scroll; 
    overflow-x:hidden; 
}

.box3{
    background: #fff;    
    height: 485px;    
    margin-bottom: 15px;
    overflow-y:scroll;     
    overflow-x:hidden; 
}
.box2{
    background: #fff;
    margin-bottom: 15px;
    min-height: 200px;
}

.right-cont{
    width: 868px;
    margin-left: 13px;
}
.left-cont{
    width: 300px;
    margin-left: 13px;
}

.thead{
    background: url("../images/table-head.png") repeat-x scroll 0 0;
}

td.td1{
    width:50px;
}
td.td2{
    width:140px;
}
td.td3{
    width:180px;
}
td.td4{
    width:250px;
}
td.td1,td.td2,td.td3,td.td4{
    text-align: center;
}

.codd{
    background: #fff;
}
.ceven{
    background: #f7f7f7;
}

.msgbox{

}
.mfield{
    text-align: left;
    padding-bottom: 5px;
}
.mtopic{
    padding-top:20px;
    text-align: left;
    text-decoration: underline;
}

.mpara{
    text-align: justify;
    padding-top: 20px;
}

.side-bar-cont select,.side-bar-cont input{
    width:100%;
    font-size: 18px;
    margin-bottom: 5px;
}
.side-bar-cont select{
    padding: 5px 2px 5px 10px;
    border:1px solid #BDC7D8;
}
.side-bar-cont a{
    color:#004eff;
    display: block;
    line-height: 20px;
}
.side-bar-cont a:hover{
    color:#000;
    text-decoration: none;
}
.cheads{
    padding-bottom: 55px;
}

.cheads h2{
    font-size: 24px;
    font-weight: 500;
}
.cheads h4{
    font-size: 18px;
    font-weight: 500;
}

.pl-list th{
    background: #50748a;
    padding: 5px 3px;
    color:#fff;
    margin-top: 23px;
}
.pl-list{
    margin-top: 10px;
    background-color:white;
    width:100%;
}
.pl-list tr{

    border-bottom: 1px solid #828282;
    
}
.pl-list tr td
{
  background-color:white;
  color:#000;
  padding: 7px 0;

}
.pl-list tr td:first-child{
  background: url("../images/pl-list-icon.png") no-repeat center left;
  padding-left:20px;
/*   margin-left:50px; */
  background-color:white;
}
.pl-list tr td a
{
  color: black;
  text-decoration:none;
  
}
.pl-list tr div.plc{

}

.plc .pl-icon{
    display: block;
    background: url("../images/pl-list-icon.png") no-repeat scroll center;
    width:10px;
    height: 14px;
    margin-right: 3px;
    margin-top: 2px;
}
.plc .pl-text{
    width: 670px;
    margin-left: 10px;
}
.plc .plhtext{
    color:#000; 
}
.plc .plotext{
    color: #b9b9b9;
}
.plc .pl-icons{
    width: 90px;
}
.plc .pl-icons a{
    display: block;
    margin: 0 5px;
    width: 20px;
    height:20px;
    text-decoration: none;
}
.pl-icons .pl-delete{
    background: url("../images/pl-list-del-icon.png") no-repeat scroll center;
}
.pl-icons .pl-edit{
    background: url("../images/pl-list-edit-icon.png") no-repeat scroll center;
}
.pl-icons .pl-pdf{
    background: url("../images/pl-list-pdf-icon.png") no-repeat scroll center;
}
#lgform .description {
  display: none;
}
.page-find-nearby-places .box3 {
  height: auto !important;
}