body{
  background-color:#CCCCCC;
  padding:0;
  margin:0;
  font-family: Arial,sans-sarif;
  font-size: 14px;  
  color: #231f20;
}
.page{
  width:1000px;
  background-color:white;
  margin:auto;
}

.invisible {
  display: none;
}
.page .header .headerPannel{
  //height:30px;
  padding:20px;
}
.logo{
  background-image:url(../images/logo.png);
  background-repeat:no-repeat;
  background-position:top left;
  width:264px;
  height:96px;

}

.page .header .headerPannel .title{
  font-size:22px;
  color:#cccccc;
  float:left;
/*  background-image:url(../images/star.png);
	background-position: right center;
	padding: 0 40px 0 0;
	background-repeat: no-repeat;*/
}

.page .header .headerPannel .menu{
  float:right;
  list-style:none;
  padding:0;
  margin:0;
  background-color:#b4c2cf;
  width:810px;
  padding:6px;
  font-size:14px;
}
ul#menu
{
  list-style:none;
}
ul#menu li
{
  float:left;
  border-left:1px solid black;
  padding: 2px 10px;
}
ul#menu li:first-child
{
  border:0;
}
.fright{
  float: right;
}
.scont{
  padding: 0px 10px ;
}
.short-menu {
  width: 800px;
  background: #B4C2CF;
  height: 26px;
  line-height: 26px;
  float: right;
  border-width: 2px;
  border-style: solid;
  padding: 0 10px 0 10px;
}
 .logo{
  width:168px;
  height:30px;
}
.short-menu a{
  text-decoration: none;
  color: #000;
  text-align: right;
  font-weight: bold;
/*   padding-bottom: 2px; */
  
}
 .short-menu a:hover{
  /*    text-decoration: underline;*/
  border-bottom: 1px dotted #000;
}
.page .header .headerPannel .menu li{
  float:right;
}
.page .header .headerPannel .menu li a{
  color:black;
  text-decoration:none;
  margin: 0 10px;
}
.page .header .headerPannel .menu li a:hover{
  text-decoration:underline;
}

.page .header .headerPannel .menu li.fc{
  border-left: 1px solid black;
}

.page .header .banner{
  
}

.development-logo {
  height: 210px;
  width: 270px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.page .pageContent .pageRight{
  float:right;
  width:570px;
  margin-right:40px;
}
.page .pageContent .pageLeft{
  float:left;

  width:320px;
}

.clearer{
  clear:both;
  margin:0;
  padding:0;
}
.page .pageContent{
  padding:20px;
  padding-bottom:100px;
}

.page .pageContent .pageLeft .widgets{
  list-style:none;
  margin:0;
  padding:0;
}
.page .pageContent .pageLeft .widgets li{
  border:1px solid #e2e2e2;
  margin-bottom:10px;
}

.page .pageContent .pageLeft .widgets li .btn{
  padding:10px;
  text-decoration:none;
  height:56px;
  display:block;
  color:#50748a;
  font-size: 18px;
}
.page .pageContent .pageLeft .widgets li .btn img{
  margin-right:30px;
  margin-left:6px;
  float:left;
}
.page .pageContent .pageLeft .widgets li .btn span{
  padding: 10px 0;
  display:block;  

}
.page .pageContent .pageLeft .widgets li .btn:hover, .page .pageContent .pageLeft .widgets li .btn.active{
  background-image:url(../images/btnLine.png);
  background-repeat:repeat-x;
}

.page .pageContent .pageLeft .widgets .userInfo{
  padding:15px;
  font-size:14px;
}
.page .pageContent .pageLeft .widgets .userInfo .userInfoTitle{ 
  color:#50748a;
  margin-bottom:16px;
  font-size:18px;
}
h2{
  color:#dd131f;
  font-size:40px;
  margin:0;
  padding:0;
  font-family:Arial,sans-sarif;
}
h4{
  color:#618093;
  font-size:12px;
  margin:0;
  padding:0;
}
h3{
  color:#50748a;
  font-size:18px;
  margin:0;
  padding:0;
}
p{
  font-size:14px;
  
}
.file{
  margin-top:20px;
}

.page .pageContent .pageRight .fileList{
  list-style:none;
  margin:0;
  padding:0;
  margin-top:20px;
}
.page .pageContent .pageRight .fileList li{
  background-image:url(../images/arrow.png);
  background-repeat:no-repeat;
  background-position:left center;
  padding:20px;
  border-bottom:1px solid #cecece;
  padding-left:60px;
}
.page .pageContent .pageRight .fileList li .size{
  float:right;
  color:#50748a;
  font-size:0.8em;
}
.page .pageContent .pageRight .title{
  margin-top:30px;
}
.footer{
  background-color:#618093;
  color:white;
  text-align:center;
  padding:10px;
}
.banner {
  margin-top: 10px;
}
.title-plot {
  margin-top: 0;
}
.developer_logo {
  margin-bottom: 20px;
}
.banner-logo {
  padding: 20px;
  position: relative;
}
.short-menu {
    text-align: right;
}
.content-fsq {
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    background: #fff;
}
#customer_care #faqq {
    background: #ccc;
    border: 1px solid;
    margin-top: 5px;
    padding: 5px;
}
#customer_care li {
  list-style-type: none;
}
#customer_care ul {
  padding-left: 0;
}
.fc-header-right {
  display: none;
}