/* 
    Document   : moble
    Created on : Nov 15, 2012, 6:23:22 PM
    Author     : SammaMax
    Description:
        Purpose of the stylesheet follows.
*/

.login_container{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    background: url("../images/mobile/320/m-back.png") no-repeat scroll center;
    height: 470px;
    margin-top: 10px;    
}

.logo{
    width: 96px;
    margin: auto;
    display: block;
}

.login-form{
    padding: 15px 15px;
}

.login-form label{
    display: block;
    font-size: 1.8em;
    color: #636363;
    margin: 7px 0;
}

.login-form input[type="checkbox"]{
    width:20px;
    height:20px;
    border: 1px solid #636363;
}
    
.login-form input[type="text"],.login-form input[type="password"]{
    display: block;
    border:1px solid #9798a5;
    font-size: 1.8em;
    color:#636363;
    width: 95%;
    margin-top: 7px;
    padding: 10px 2.5%;
}
.login-form input[type="submit"]{
    display: block;
    font-size: 3.6em;
    color:#000;
    width: 100%;
}
.login-form label{
    color:#636363;
}
.login-form select{
    color: #636363;
    font-size: 1.8em;
    padding: 4px;
    margin: 1px;
    border:1px solid #9798a5;
    width: 100%;
}

.txt-logo{
    margin-left: 13.6px;
    margin-top: 9px;
}

.container{
    width:100%;
    max-width: 320px;
    margin: 0 auto;
}

.heading{
    font-size: 1.3em;
    color: #9c9c9c;
    padding: 6px 0;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 10px;
    font-weight: bold;
}
.img-cont{
    margin-bottom: 10px;
}
.limg{
    margin-top: 40px;
}

.c-box{
    padding: 7px;
    margin-bottom: 10px;
    border: 2px solid #e4e4e4;
}
.c-box a{
    text-decoration: none;
    color: #636363;
}
.cb-icon{
    margin-left: 2px;
    width:74px;
    height: 56px;
}

.cb-txt{
    font-size: 1.66em;
    padding-left: 19px;
    color:#636363;
    width: 165px;
    padding-top: 12.6px;
}


.icon1{
    background: url("../images/mobile/320/icon1.png") no-repeat scroll center;
}
.icon2{
    background: url("../images/mobile/320/icon2.png") no-repeat scroll center;
}
.icon3{
    background: url("../images/mobile/320/icon3.png") no-repeat scroll center;
}
.icon4{
    background: url("../images/mobile/320/icon4.png") no-repeat scroll center;
}
.icon5{
    background: url("../images/mobile/320/icon5.png") no-repeat scroll center;
}
.icon6{
    background: url("../images/mobile/320/icon6.png") no-repeat scroll center;
}
.icon7{
    background: url("../images/mobile/320/icon7.png") no-repeat scroll center;
}

.c-list{
    margin-top: 20px;
    font-size: 1.1em;
}

.c-list ul {
    list-style: none;
}
.c-list ul li{
    padding-bottom: 12.6px;
    margin-bottom: 12.6px;
    border-bottom: 1px solid #58738a;
}

.cl-size{
    color: #636363;
}

.no-border{
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
span.h2{
    font-size: 1.66em;
    color:#636363;
    display: block;
    margin-bottom: 15px;
}
.c-box p{
    font-size: 1.29em;
}
